.background-section {
    background-image: url("https://res.cloudinary.com/dgnaqakyg/image/upload/v1764232421/fit-woman_bzxxux.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center 20%;
    position: relative;
}

.top-section-text-container{
    background: rgba(0,0,0,0.35);
    color: #ffffff;
    padding: 6px 12px;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    max-width: 700px;
    margin: auto;
    padding: 40px;
    margin-right: 200px;
}

.header{
    color: white;
    font-size: 30px;
    font-family: "Roboto";
    font-weight: bold;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}
.description{
    color: #ffffffcc;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.6);
}
.gym-image{
    height: auto;
    max-width: 100%;
    margin: 10px;
    display: block;
}
.main-heading {
    color: black;
    font-size: 25px;
    font-family: "Roboto";
    font-weight: bold;
    margin-top: 20px;
}
.sub-heading {
    color: black;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: bold;
}
.paragraph{
    color: #333333;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 500;
    font-style: italic;
}
.card-container{
    border-radius: 8px;
    margin: 5px;
    background-color: #f9f9f9;
    max-width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.service-container{
    border-radius: 5px;
    margin: 5px;
    background-color: #edf5ed;
    padding: 10px;
    text-align: center;
}
.service-container h1{
    margin-top: 10px;
}
.service-icon{
    font-size: 30px;
    margin-right: 10px;
    margin-top: 4px;
}
.card-main-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}



.price-container{
    align-items: center;
    border-radius: 8px;
    margin: 5px;
    background-color: #f9f9f9;
    max-width: 300px;
    padding: 20px;
    text-align: center;
}
.amount{
    font-family: "Roboto";
    font-size: 25px;
    font-weight: bold;
    color: black;
}
.duration{
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    color: black;
}
.logo {
    color: black;
    font-family: "Roboto";
    font-size: 25px;
    font-weight: bold;
}
.footer-end{
    padding: 30px;
    color: whitesmoke;
    font-family: "Roboto";
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
.footer-main-section{
    background-color: #598d8f;
    padding: 10px;
}
.Timings{
    color:  wheat;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: bold;
}
.footer-text{
    color: wheat;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 500;
    font-style: italic;
}
.footer-heading{
    color: white;
    font-size: 25px;
    font-family: "Roboto";
    font-weight: bold;
    margin-top: 22px;
}
.footer-points{
    color: whitesmoke;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: bold;
}
.footer-start{
    gap:60px;
    padding: 40px;
}

@media (max-width:768px) {
    .background-section{
        background-position: left top;
        display: block;
    }
    .top-section-text-container{
        left: 20px;
        padding-left: 20px;
        right: auto;
        bottom: 5px;
        padding: 20px;
        max-width: 100%;
        position: absolute;
        margin-right: 0px;
    }
    .card-main-container{
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
   .footer-main-section .d-flex{
        flex-direction: column !important;
        align-items: center;
        gap: 30px;
        width: 100%;
        text-align: center;
    }
    
}
.footer-text i,
.Timings i,
.footer-points i {
    margin-right: 10px;
    color: white;
    font-size: 25px;
}